.content {
    margin: 30px auto;
    display: flex;
    position: relative;
}

.goodsDetail {
    width: 800px;
    height: 800px;
    display: flex;
    position: absolute;
    left: 550px;
    top: 50px;
    z-index: 999;
    overflow: hidden;
    /* background-color: skyblue; */
    display: none;
}

.goodsDetail>img {
    /* width: 800px;
    height: 800px; */
    /* margin-top: -100px; */
    position: relative;
    margin-left: 0;
}

.enlargeBox {
    width: 705px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: -180px;
    overflow: hidden;
    position: relative;
}

.enlargeBox>.show {
    width: 450px;
    height: 450px;
    border: 1px solid #333;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.enlargeBox>.show>img {
    width: 450px;
    height: 450px;
}

.upBox {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.enlargeBox>.list {
    width: 100px;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    overflow: hidden;
}

.show>img {
    width: 450px;
    height: 450px;
    margin-left: 0px;
}

.list>P>img {
    width: 100px;
    height: 100px;
    margin-left: -6px;
    margin-top: -5px;
}

.goodsDetail>.enlargeBox>.list>p {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 0;
    /* border: 1px solid #333; */
    cursor: pointer;
}

.goodsDetail>.enlargeBox>.list>p.active {
    border-color: red;
}

.goodsDetail>.goodsInfo {
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
}

.goodsDetail>.goodsInfo>.desc {
    font-size: 30px;
}

.goodsDetail>.goodsInfo>.price {
    font-size: 20px;
}

.goodsDetail>.goodsInfo>.price>span {
    font-size: 30px;
}

.goodsDetail>.goodsInfo>.num {
    display: flex;
}

.goodsDetail>.goodsInfo>.num>button {
    width: 40px;
    height: 40px;
}

.goodsDetail>.goodsInfo>.num>input {
    height: 43px;
    width: 75px;
    text-align: center;
    border: none;
}

.goodsNav {
    margin-top: 30px;
}

.goodsInfo>h3 {
    color: black;
    font-weight: 700;
}

.goodsInfo>i {
    display: flex;
    line-height: 20px;
    margin-bottom: 10px;
}

.goodsInfo>.num {
    margin: 20px 0;
}

.goodsInfo {
    margin-left: 150px;
    margin-top: 60px;
}